---
import Layout from "../layouts/Layout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import { getCollection } from "astro:content";
import { collectionPageSchema } from "../lib/seo";

const cases = await getCollection("pages", ({ id }) => id.startsWith("case/"));

const description = "Selected case studies by Petter Johansson";
const schema = collectionPageSchema({
  name: "Case",
  description,
  url: new URL("/case", Astro.site).href,
});
---

<Layout title="Case" description={description} schema={schema}>
  <SiteHeader />
  <main
    id="article-content"
    class="grid content-start prose p-2 md:pt-(--header-height) w-full max-w-[95ch] h-full md:overflow-y-auto col-[main-start/main-end] row-[main-start/main-end]"
  >
    <h1 class="delay-500 fade-up">Case</h1>
    <ul
      class="not-prose grid grid-cols-[repeat(auto-fill,minmax(320px,1fr))] auto-rows-fr items-stretch gap-2"
    >
      {
        cases.map((c, i) => (
          <li
            class={`self-stretch h-full fade-up`}
            style={`transition-delay: ${i * 100 + 1000}ms`}
          >
            <a
              href={`/${c.id}`}
              class="h-full flex! flex-col content-start gap-2! p-2! rounded shadow shadow-shadow styled-anchor m-0! border border-current/5"
            >
              <h2 class="font-serif text-2xl">{c.data.title}</h2>
              <ul class="flex flex-wrap gap-2 pl-0 list-none">
                {c.data.tags.map((t) => (
                  <li class="rounded border px-2 py-0.5 border-current text-xs font-mono">
                    {t}
                  </li>
                ))}
              </ul>
              <p class="text-sm">{c.data.description}</p>
              {/* <span>&rarr;</span> */}
              <div class="mt-auto duotone">
                {c.data.featuredImage && (
                  <img
                    src={c.data.featuredImage}
                    class="object-cover styled-image aspect-2/1"
                    alt={c.data.title}
                  />
                )}
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
